body {
  font-family: "Roboto", sans-serif;
  background-color: #fde9eb;
  color: #333;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 174, 185, 0.1);
  border-radius: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 12px;
  margin: 20px 0;
  border: 1px solid #ffb6c1;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(255, 182, 193, 0.1);
}

button {
  padding: 12px 25px;
  cursor: pointer;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(255, 105, 180, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff1493;
  transform: translateY(-2px);
}

.country-details,
.same-region-countries {
  margin-top: 20px;
}

.country-details h2,
.same-region-countries h2 {
  margin-bottom: 10px;
  color: #ff69b4;
}
